.column {
    float: left;
    width: 30%;
    margin-right: 50px;
    margin: 80px;
    padding-top: 20;
  }
  .contaners{
    background-color: black;
    padding: 10%;
  }
   .about,p {
  color: aliceblue;
  }
  h2 {
    color: aliceblue;
  }
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }